<ion-view title="" hide-back-button="true" id="about" class="page-about">
  <ion-content padding="true" class="has-header">
    <h1>GUIA DE COMPRAS - SAMPA</h1>
    <h2>Sobre: </h2>
    <p>O Aplicativo Guia de Compras SAMPA e o site www.mapa.adesampa.com.br são ferramentas de divulgação dos empreendimentos comerciais da cidade de São Paulo produzidos pela Agência São Paulo de Desenvolvimento - Adesampa, em parceria com a Secretaria Municipal de Desenvolvimento, Trabalho e Empreendedorismo - SDTE da Prefeitura de São Paulo.</p>
    <p>O aplicativo e o site se destinam à divulgação dos estabelecimentos comerciais do município de São Paulo, sem o compromisso de aprofundar as informações de cada estabelecimento e seus produtos. O(a) Usuário(a)/Empreededor(a) ficam cientes de que a AdeSampa/SDTE não prestam serviços de venda de produtos e serviços, mas apenas concedem licença de uso do aplicativo/site que serve como ferramenta facilitadora de contato inicial entre os(as) Empreededores(as) e usuários, sem qualquer participação na relação contratual eventualmente estabelecida. Quaisquer defeitos, perdas ou danos relativos a estes produtos e serviços são de responsabilidade exclusiva dos(as) Empreededores(as) anunciantes e/ou usuários(as) do aplicativo/site.</p>
    <p>O(a) Usuário(a)/Empreededor(a)  ficam cientes também de que a AdeSampa/SDTE não realizam a seleção de empreendimentos, não fiscalizam a sua atividade, não atestam a sua idoneidade nem a sua capacidade para prestar o objeto da sua atividade, sendo de inteira responsabilidade do(a) Empreendedor(a) cadastrado(a) toda e qualquer informação fornecida, bem como sobre a qualidade dos produtos e serviços prestados aos(as) usuários(as), cabendo à AdeSampa/SDTE apenas a divulgação dos dados comerciais.</p>
    <div class="footer-logos">
      <img src="img/logo-prefeitura.svg" class="logo-prefeitura"/>
      <img src="img/logo-adesampa.svg" class="logo-adesampa"/>
    </div>
    </ion-content>
</ion-view>
