<ion-view title="bookmarks" id="bookmarks" class="page-bookmarks">
    <ion-content padding="true" class="has-header">

        <a ui-sref="tabsController.shopsList" class="button button-positive button-small button-clear icon-left ion-android-arrow-back button-back">Favoritos (lista de lojas)</a>

        <button class="button button-positive button-small button-clear icon-right ion-search button-search-list">buscar na lista</button>

        <div class="button-bar button-bar-views">
            <button class="button button-positive button-small button-block button-clear button-view-list">ver em lista</button>
            <button class="button button-positive button-small button-block button-clear button-view-map">ver no mapa</button>
        </div>

        <ion-list class="shop-information-list">

            <div class="item item-body shop-title">
                <a ui-sref="tabsController.shopSingle">loja</a>
            </div>
            
            <div class="item item-body shop-categories">
                categorias:
                    <a href="#">
                        <strong>lorem</strong>
                    </a>,
                    <a href="#">
                        <strong>ipsum</strong>
                    </a>,
                    <a href="#">
                        <strong>dolor</strong>
                    </a>
            </div>
            <div class="item item-body shop-segment">
                segmentos:
                    <a href="#">
                        <strong>lorem</strong>
                    </a>,
                    <a href="#">
                        <strong>ipsum</strong>
                    </a>,
                    <a href="#">
                        <strong>dolor</strong>
                    </a>
            </div>
            <div class="item item-body button-bar-actions">
                <button class="button button-stable button-small button-icon icon-left ion-trash-a button-delete">remover</button>
                <button class="button button-stable button-small button-icon icon-left ion-star button-bookmark">adicionar aos favoritos</button>
            </div>
        </ion-list>


        <div class="card">
            <ion-item class="item-icon-right card-title">filtrar a lista
                <i class="icon ion-close icon-accessory"></i>
            </ion-item>

            <div class="item item-body">
                <form class="list">
                    <label class="item item-select">
                        <span class="input-label">escolha uma categoria geral</span>
                        <select>
                            <option>--/--</option>
                            <option>Opção 1</option>
                            <option>Opção 2</option>
                            <option>Opção 3</option>
                        </select>
                    </label>
                </form>
                <button class=" button button-positive button-small button-clear icon-left ion-android-add-circle ">adicione mais categorias</button>
                <button id="bookmarks-button108" class=" button button-positive button-block button-large ">usar</button>
            </div>
        </div>
    </ion-content>
</ion-view>