<ion-view title="bookmarks" id="page13" class=" page-bookmarks">
    <ion-content padding="true" class="has-header">
        <a ui-sref="tabsController.shopsList" id="bookmarks-button11" style="text-align:left;border-radius:0px 0px 0px 0px;" class=" button button-positive button-small button-clear icon-left ion-android-arrow-back button-back">Favoritos (lista de lojas)</a>
        <button id="bookmarks-button97" style="text-align:right;border-radius:0px 0px 0px 0px;" class=" button button-positive button-small button-clear icon-right ion-search button-search-list">buscar na lista</button>
        <div id="bookmarks-button-bar2" class=" button-bar button-group-views">
            <button id="bookmarks-button13" style="border-radius:0px 0px 0px 0px;" class=" button button-positive button-small button-block button-clear button-view-list">ver em lista</button>
            <button id="bookmarks-button20" style="border-radius:0px 0px 0px 0px;" class=" button button-positive button-small button-block button-clear button-view-map">ver no mapa</button>
        </div>
        <ion-list id="bookmarks-list14" class=" shop-information-list">
            <div class="item item-body shop-title" id="bookmarks-list-item-container66">
                <a ui-sref="tabsController.shopSingle" id="bookmarks-button75" style="font-weight:500;font-size:30px;text-align:left;" class=" button button-positive button-large button-block button-clear icon-right ion-ios-arrow-forward button-title">loja</a>
            </div>
            <div class="item item-body shop-categories" id="bookmarks-list-item-container67">
                <p id="bookmarks-markdown79" style="color:#000000;" class=" ">categorias:
                    <a href="#">
                        <strong>lorem</strong>
                    </a>,
                    <a href="#">
                        <strong>ipsum</strong>
                    </a>,
                    <a href="#">
                        <strong>dolor</strong>
                    </a>
                </p>
            </div>
            <div class="item item-body shop-segment" id="bookmarks-list-item-container68">
                <p id="bookmarks-markdown80" style="color:#000000;" class=" ">segmentos:
                    <a href="#">
                        <strong>lorem</strong>
                    </a>,
                    <a href="#">
                        <strong>ipsum</strong>
                    </a>,
                    <a href="#">
                        <strong>dolor</strong>
                    </a>
                </p>
            </div>
            <div class="item item-body shop-actions" id="bookmarks-list-item-container69">
                <button id="bookmarks-button76" class=" button button-stable button-small button-icon icon-left ion-trash-a button-delete">remover</button>
                <button id="bookmarks-button77" class=" button button-stable button-small button-icon icon-left ion-star button-bookmark">adicionar aos favoritos</button>
            </div>
        </ion-list>
        <div class="list card " id="bookmarks-card23">
            <ion-item class="item-icon-right  " id="bookmarks-list-item16">filtrar a lista
                <i class="icon ion-close icon-accessory"></i>
            </ion-item>
            <div class="item item-body " id="bookmarks-list-item-container105">
                <p id="bookmarks-markdown110" style="color:#000000;" class=" ">escolha uma categoria geral</p>
                <form id="bookmarks-form4" class="list ">
                    <label class="item item-select " id="bookmarks-select4">
                        <span class="input-label"></span>
                        <select>
                            <option>--/--</option>
                            <option>Opção 1</option>
                            <option>Opção 2</option>
                            <option>Opção 3</option>
                        </select>
                    </label>
                </form>
                <button id="bookmarks-button107" style="text-align:left;" class=" button button-positive button-small button-block button-clear icon-left ion-android-add-circle ">adicione mais categorias</button>
                <button id="bookmarks-button108" class=" button button-positive button-large ">usar</button>
            </div>
        </div>
    </ion-content>
</ion-view>