<ion-view title="bookmarks" id="bookmarks" class="page-bookmarks">
    <ion-content padding="true" class="has-header">

        <a ui-sref="tabsController.shopsList" class="button button-positive button-small button-clear icon-left ion-android-arrow-back button-back">Favoritos (lista de lojas)</a>

        <button class="button button-positive button-small button-clear icon-right ion-search button-search-list">buscar na lista</button>

        <div class="button-bar">
            <button class="button button-positive button-small button-clear button-view-list">ver em lista</button>
            <button class="button button-positive button-small button-clear button-view-map">ver no mapa</button>
        </div>

        <ion-list>
            <div class="shop-information-list">
                <div class="item item-body shop-title">
                    <h1><a ui-sref="tabsController.shopSingle">loja</a></h1>
                </div>
                
                <div class="item item-body shop-categories">
                    <p>categorias:
                        <a href="#">
                            <strong>lorem</strong>
                        </a>,
                        <a href="#">
                            <strong>ipsum</strong>
                        </a>,
                        <a href="#">
                            <strong>dolor</strong>
                        </a>
                    </p>
                </div>
                <div class="item item-body shop-segment">
                    <p>segmentos:
                        <a href="#">
                            <strong>lorem</strong>
                        </a>,
                        <a href="#">
                            <strong>ipsum</strong>
                        </a>,
                        <a href="#">
                            <strong>dolor</strong>
                        </a>
                    </p>
                </div>
                <div class="item item-body shop-actions">
                    <button class="button button-stable button-small button-icon icon-left ion-trash-a button-delete">remover</button>
                </div>
            </div>
        </ion-list>


        <div class="card">
            <ion-item class="item-icon-right card-title">filtrar a lista
                <i class="icon ion-close icon-accessory"></i>
            </ion-item>

            <div class="item item-body">
                <form class="list">
                    <label class="item item-select">
                        <span class="input-label">escolha uma categoria geral</span>
                        <select>
                            <option>--/--</option>
                            <option>Opção 1</option>
                            <option>Opção 2</option>
                            <option>Opção 3</option>
                        </select>
                    </label>
                    <button class="button button-positive button-small button-clear icon-left ion-android-add-circle ">adicione mais categorias</button>
                    <button class="button button-positive button-block button-large ">usar</button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>