<ion-view title="" hide-back-button="true" id="home" class="page-home">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <h1 class="home-slogan">chamada/slogan</h1>
        <a ui-sref="tabsController.routes" id="home-button1" class="button button-positive button-block button-splash">Circuito de compras</a>
        <p id="home-markdown1" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
            <a href="#">navegue e conheça a cidade</a>
        </p>
        <p id="home-markdown2" style="color:#000000;font-size:12px;text-align:center;" class=" ">Quer saber mais sobre o app ou é lojista?
            <a href="/lojista">Clique aqui</
        </p>
    </ion-content>
</ion-view>