<ion-view title="" hide-back-button="true" id="home" class="page-home">
    <ion-content padding="true" class="has-header">
        
        <h1 class="home-logo"><span class="sr-only">SP Circuito de Compras</span></h1>
        <h2 class="home-slogan">Tem tudo o que você precisa</h2>

        <a ui-sref="tabsController.routes" class="button button-block button-splash">Criar Circuito de Compras</a>
        <div class="home-splash-slogan">Roteiros com lojas dos grandes circuitos de São Paulo. 
        <span>Visite, explore e compre tudo mais fácil!</span></div>

        <div class="home-affiliates">
            <div class="logo-adesampa"><span class="sr-only">ADESAMPA - Agência São Paulo de Desenvolvimento</span></div>
            <div class="logo-prefeitura"><span class="sr-only">Prefeitura de São Paulo - Desenvolvimento, Trabalho e Empreendedorismo</span></div>
        </div>

        <!--div class="shopkeeper">Quer saber mais sobre o app ou é lojista? <a ui-sref="shopkeeper">Clique aqui</a></div-->

    </ion-content>
</ion-view>
