<ion-view title="" hide-back-button="true" id="home" class="page-home">
    <ion-content padding="true" class="has-header">
        
        <h1 class="home-logo">SP Circuito de Compras</h1>
        <h2 class="home-slogan">Tem tudo o que você precisa</h2>

        <a ui-sref="tabsController.routes" id="home-button1" class="button button-positive button-block button-splash">O que você procura?</a>
        
        <div class="home-affiliates">
            <div class="logo-adesampa">ADESAMPA - Agência São Paulo de Desenvolvimento</div>
            <div class="logo-prefeitura">Prefeitura de São Paulo - Desenvolvimento, Trabalho e Empreendedorismo</div>
        </div>

    </ion-content>
</ion-view>