<ion-view title="" hide-back-button="true" id="map" class="page-map">
    <ion-content padding="true" class="has-header">
        
        <a ui-sref="tabsController.shopsList" class="button button-positive button-small button-block button-clear icon-left ion-android-arrow-back button-back">Mapa (mostrando lojas próximas a mim)</a>

        <button class="button button-stable icon-left ion-android-add-circle button-shop-filter">usar filtro de lojas</button>
        
        <div class="card">
            <ion-item class="item-icon-right card-title">adicionar filtro
                <i class="icon ion-close icon-accessory"></i>
            </ion-item>

            <div class="item item-body">
                <form class="list">
                    <label class="item item-select">
                        <span class="input-label">escolha uma categoria geral</span>
                        <select>
                            <option>--/--</option>
                            <option>Opção 1</option>
                            <option>Opção 2</option>
                            <option>Opção 3</option>
                        </select>
                    </label>
                    <button class="button button-positive button-small button-clear icon-left ion-android-add-circle ">adicione mais categorias</button>
                    <button class="button button-positive button-block button-large ">usar</button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>