<ion-view title="" hide-back-button="true" id="map" class="page-map">
    <ion-content padding="false" class="has-header">
        
        <img class="map-iframe" style="background-image: url(img/background-maps.svg); background-size: contain;">

        <ion-list class="page-header">
            <a ui-sref="tabsController.shopsList" class="button button-clear ion-arrow-left-c button-back"></a>
            <h1 class="page-title">Mapa <span>mostrando lojas próximas a mim</span></h1>
        </ion-list>

        <button class="button button-stable icon-left ion-android-add-circle button-shop-filter">usar filtro de lojas</button>
        
    </ion-content>
    <div class="modal-wrapper">
        <ion-list class="filter filter-modal">
            <h2 class="item item-body item-icon-right filter-title">
                filtrar a lista <i class="icon ion-close icon-accessory"></i>
            </h2>
            <form class="filter-form">
                <div class="filter-content">
                    <fieldset>
                        <div class="item item-body filter-label">escolha uma categoria:</div>
                        <label class="item item-input item-select" for="select-categories">
                            <span class="input-label">--/--</span>
                            <select id="select-categories">
                                <option></option>
                                <option ng-repeat="category in route.categories">{{category}}</option>
                            </select>
                        </label>
                        <div class="item item-body">
                            <button class="button button-small button-block button-clear button-add-categories icon-left ion-android-add-circle">adicione mais categorias</button>
                        </div>
                    </fieldset>
                </div>
                <a ui-sref="tabsController.shopsList({route:route.id})" class="button button-use-filter">usar</a>
            </form>
        </ion-list>
    </div>
</ion-view>
