<ion-view title="map" hide-back-button="true" id="page3" class=" page-map">
    <ion-content padding="true" class="has-header">
        <a ui-sref="tabsController.shopsList" id="map-button86" style="text-align:left;border-radius:0px 0px 0px 0px;" class=" button button-positive button-small button-block button-clear icon-left ion-android-arrow-back button-back">Mapa (mostrando lojas próximas a mim)</a>
        <button id="map-button87" class=" button button-stable  icon-left ion-android-add-circle button-shop-filter">usar filtro de lojas</button>
        <div class="list card " id="map-card21">
            <ion-item class="item-icon-right  " id="map-list-item7">adicionar filtro
                <i class="icon ion-close icon-accessory"></i>
            </ion-item>
            <div class="item item-body " id="map-list-item-container92">
                <p id="map-markdown98" style="color:#000000;" class=" ">escolha uma categoria geral</p>
                <form id="map-form2" class="list ">
                    <label class="item item-select " id="map-select1">
                        <span class="input-label"></span>
                        <select>
                            <option>--/--</option>
                            <option>Opção 1</option>
                            <option>Opção 2</option>
                            <option>Opção 3</option>
                        </select>
                    </label>
                </form>
                <button id="map-button88" style="text-align:left;" class=" button button-positive button-small button-block button-clear icon-left ion-android-add-circle ">adicione mais categorias</button>
                <button id="map-button89" class=" button button-positive button-large ">usar</button>
            </div>
        </div>
    </ion-content>
</ion-view>