<ion-view title="" hide-back-button="true" id="routes-list" class="page-routes-list">
    <ion-content padding="false" class="has-header">
        <ion-list class="route {{route.id}}" ng-repeat="route in userRoutes">
            <a ui-sref="tabsController.shopsList({userRouteId:route.id})" class="route-link">
                <h1 class="item item-body route-title" ng-if="!route.title">
                  {{route.route.title}} <span>{{route.created|date:"dd/MM/yy"}}</span>
                </h1>
                <h1 class="item item-body route-title" ng-if="route.title">
                  {{route.title}} <span>{{route.created|date:"dd/MM/yy"}}</span>
                </h1>
            </a>
            <div class="route-wrapper">
                <p class="item item-body route-description" ng-if="route.categories.length>0">segmentos: <strong>{{route.categories.join(", ")}}</strong></p>
                <div class="item item-body route-actions">
                    <button ng-click="removeRoute(route)" class="button button-small button-delete button-icon icon-left ion-trash-a">remover</button>
                </div>
            </div>
            <a ui-sref="tabsController.shopsList({userRouteId:route.id})"><div class="icon ion-ios-arrow-forward"></div></a>
        </ion-list>


        <div class="no-route" ng-if="userRoutes.length==0">
            <div class="message">
                <h1>Você ainda não criou nenhum circuito! ;(</h1>
                <h2>Veja como é fácil</h2>
                <ol>
                    <li>Clique em <span><i class="icon ion-android-add-circle"></i> novo</span> no menu geral ou no botão no fim da lista;</li>
                    <li>Escolha um circuito/bairro veja que cada um tem sua especialidade em tipos de produto, histórico, e muito mais!</li>
                    <li>Escolha um filtro para as categorias de produto que você quer encontrar;</li>
                    <li>Clique em Criar meu Circuito;</li>
                    <li>Pronto! Agora é só salvar! Sempre que quiser planejar uma compra você pode usar o criador de circuitos ou usar circuitos já criados por você na aba <span><i class="icon ion-android-apps"></i> circuitos</span>;</li>
                </ol>
            </div>
        </div>

    </ion-content>
</ion-view>
