<ion-view title="" hide-back-button="true" id="routes" class="page-routes">
    <ion-content padding="false" class="has-header">
    
        <ion-list id="route-bras">
            <div class="route-information-list">

                <div class="item item-body route-title">
                    <h1><a ui-sref="tabsController.routeSingle">Bom Retiro</a></h1>
                </div>

                <div class="item item-body route-description">
                    Uma descrição breve e legal  sobre esse circuito
                </div>

                <div class="item item-body route-products">
                    tipos de produtos:
                        <a href="">
                            <strong>lorem</strong>
                        </a>,
                        <a href="">
                            <strong>ipsum</strong>
                        </a>,
                        <a href="">
                            <strong>dolor</strong>
                        </a>,
                        <a href="">
                            <strong>sit</strong>
                        </a>,
                        <a href="">
                            <strong>amet</strong>
                        </a>
                    </p>
                </div>
            </div>
        </ion-list>

        <ion-list id="route-bras">
            <div class="route-information-list">

                <div class="item item-body route-title">
                    <h1><a ui-sref="tabsController.routeSingle">Bom Retiro</a></h1>
                </div>

                <div class="item item-body route-description">
                    Uma descrição breve e legal  sobre esse circuito
                </div>

                <div class="item item-body route-products">
                    tipos de produtos:
                        <a href="">
                            <strong>lorem</strong>
                        </a>,
                        <a href="">
                            <strong>ipsum</strong>
                        </a>,
                        <a href="">
                            <strong>dolor</strong>
                        </a>,
                        <a href="">
                            <strong>sit</strong>
                        </a>,
                        <a href="">
                            <strong>amet</strong>
                        </a>
                    </p>
                </div>
            </div>
        </ion-list>

    </ion-content>
</ion-view>