<ion-view title="" hide-back-button="true" id="route-single" class="page-route-single  page-{{route.id}}">
    <ion-content padding="false" class="has-header">
        
        <ion-list class="page-header">
            <a ui-sref="tabsController.routes" class="button button-clear ion-arrow-left-c button-back"></a>
            <h1 class="page-title">filtro de categoria</h1>
        </ion-list>

        <ion-list class="route-single-content">
            <div class="route-information">
                <div class="button-bar button-bar-inline item">
                    <button class="button button-positive button-small button-clear button-view-information">histórico</button>
                    <!-- <button class="button button-positive button-small button-clear button-view-photos">fotos</button> -->
                </div>
                <h1 class="item item-body route-title">
                    {{route.title}}
                </h1>
                <p class="item item-body route-description">
                    {{route.description}}
                </p>
            </div>
        </ion-list>

        <ion-list class="filter">
            <h2 class="item item-body filter-title">
                escolha os filtros de produto
            </h2>
            <form class="filter-form">
                <div class="filter-content">
                    <fieldset>
                      <ng-repeat ng-repeat="filter in filters">
                        <legend>{{filter.verbose_order}} filtro</legend>
                        <div class="item item-body filter-label">escolha uma categoria:</div>
                        <label class="item item-input item-select" for="select-categories">
                            <span class="input-label">--/--</span>
                            <select id="select-categories" ng-model="data.category[filter.index]">
                                <option></option>
                                <option ng-repeat="category in route.categories" value="{{category}}">{{category}}</option>
                            </select>
                        </label>
                      </ng-repeat>
                      <div class="item item-body">
                            <button ng-click="addFilter()" class="button button-small button-block button-clear button-add-categories icon-left ion-android-add-circle">adicione mais categorias</button>
                        </div>
                    </fieldset>
                </div>
                <a ui-sref="tabsController.shopsList({userRouteId:userRouteId})" ng-click="createUserRoute()" class="button button-block button-use-filter">Criar meu Circuito</a>
            </form>
        </ion-list>

    </ion-content>
</ion-view>
