<ion-view title="" hide-back-button="true" id="route-single" class="page-route-single">
    <ion-content padding="true" class="has-header">
        
        <a ui-sref="tabsController.routes" class="button button-positive button-small button-block button-clear icon-left ion-android-arrow-back button-back"></a>
        <h1>encontrar lojas no circuito</h1>
        
        <div class="button-bar">
            <button class="button button-positive button-small button-clear button-view-information">histórico</button>
            <button class="button button-positive button-small button-clear button-view-photos">fotos</button>
        </div>

        <ion-list>
            <div class="route-single-content">
                <div class="item item-body route-single-title">
                    <h1>{{route.title}}</h1>
                </div>

                <div class="item item-body route-single-description">
                    <p>{{route.description}}</p>
                </div>
            </div>
        </ion-list>

        <ion-list class="route-filter">
            <div class="item item-body route-filter-title">
                <h2>escolha os filtros de produto</h2>
            </div>
            <div class="item item-body">
                <h3>primeiro filtro</h3>
                <form class="list">
                    <fieldset>
                        <legend>escolha uma categoria</legend>
                        <label class="item item-select " id="routeSingle-select3">
                            <span class="input-label"></span>
                            <select>
                                <option>--/--</option>
                                <option ng-repeat="category in route.categories">{{category}}</option>
                            </select>
                        </label>
                        <button class="button button-positive button-small button-clear icon-left ion-android-add-circle ">adicione mais categorias</button>
                        <a ui-sref="tabsController.shopsList" class="button button-positive button-block">criar lista de lojas</a>
                    </fieldset>
                </form>
            </div>
        </ion-list>

    </ion-content>
</ion-view>
