<ion-view title="routes list" hide-back-button="true" id="page10" class=" page-routes-list">
    <ion-content padding="true" class="has-header">
        <ion-list id="routesList-list15" class=" route-information-list">
            <div class="item item-body route-title" id="routesList-list-item-container70">
                <a ui-sref="tabsController.shopsList" id="routesList-button78" style="font-weight:500;font-size:30px;text-align:left;" class=" button button-positive button-large button-block button-clear icon-right ion-ios-arrow-forward button-route-title">circuito</a>
            </div>
            <div class="item item-body route-description" id="routesList-list-item-container71">
                <p id="routesList-markdown31" style="color:#000000;" class=" ">categorias:
                    <a href="#">lorem</a>,
                    <a href="#">ipsum</a>,
                    <a href="#">dolor</a>
                </p>
            </div>
            <div class="item item-body route-products" id="routesList-list-item-container72">
                <p id="routesList-markdown32" style="color:#000000;" class=" ">segmentos:
                    <a href="#">lorem</a>,
                    <a href="#">ipsum</a>,
                    <a href="#">dolor</a>
                </p>
            </div>
            <div class="item item-body route-products" id="routesList-list-item-container73">
                <button id="routesList-button51" class=" button button-stable button-small button-icon icon-left ion-trash-a ">remover</button>
            </div>
        </ion-list>
        <ion-list id="routesList-list17" class=" route-information-list">
            <div class="item item-body route-title" id="routesList-list-item-container78">
                <a ui-sref="tabsController.shopsList" id="routesList-button81" style="font-weight:500;font-size:30px;text-align:left;" class=" button button-positive button-large button-block button-clear icon-right ion-ios-arrow-forward button-route-title">circuito</a>
            </div>
            <div class="item item-body route-description" id="routesList-list-item-container79">
                <p id="routesList-markdown86" style="color:#000000;" class=" ">categorias:
                    <a href="#">lorem</a>,
                    <a href="#">ipsum</a>,
                    <a href="#">dolor</a>
                </p>
            </div>
            <div class="item item-body route-products" id="routesList-list-item-container80">
                <p id="routesList-markdown87" style="color:#000000;" class=" ">segmentos:
                    <a href="#">lorem</a>,
                    <a href="#">ipsum</a>,
                    <a href="#">dolor</a>
                </p>
            </div>
            <div class="item item-body route-products" id="routesList-list-item-container81">
                <button id="routesList-button82" class=" button button-stable button-small button-icon icon-left ion-trash-a ">remover</button>
            </div>
        </ion-list>
        <ion-list id="routesList-list18" class=" route-information-list">
            <div class="item item-body route-title" id="routesList-list-item-container82">
                <a ui-sref="tabsController.shopsList" id="routesList-button83" style="font-weight:500;font-size:30px;text-align:left;" class=" button button-positive button-large button-block button-clear icon-right ion-ios-arrow-forward button-route-title">circuito</a>
            </div>
            <div class="item item-body route-description" id="routesList-list-item-container83">
                <p id="routesList-markdown88" style="color:#000000;" class=" ">categorias:
                    <a href="#">lorem</a>,
                    <a href="#">ipsum</a>,
                    <a href="#">dolor</a>
                </p>
            </div>
            <div class="item item-body route-products" id="routesList-list-item-container84">
                <p id="routesList-markdown89" style="color:#000000;" class=" ">segmentos:
                    <a href="#">lorem</a>,
                    <a href="#">ipsum</a>,
                    <a href="#">dolor</a>
                </p>
            </div>
            <div class="item item-body route-products" id="routesList-list-item-container85">
                <button id="routesList-button84" class=" button button-stable button-small button-icon icon-left ion-trash-a ">remover</button>
            </div>
        </ion-list>
    </ion-content>
</ion-view>