<ion-view title="shops list" hide-back-button="true" id="page11" class=" page-shops-list">
    <ion-content padding="true" class="has-header">
        <a ui-sref="tabsController.routes" id="shopsList-button28" style="text-align:left;border-radius:0px 0px 0px 0px;" class=" button button-positive button-small button-block button-clear icon-left ion-android-arrow-back button-back">Brás (dia/mês/ano)</a>
        <div id="shopsList-button-bar1" class=" button-bar button-group-views">
            <button id="shopsList-button29" style="border-radius:0px 0px 0px 0px;" class=" button button-positive button-small button-block button-clear button-view-list">ver em lista</button>
            <button id="shopsList-button31" style="border-radius:0px 0px 0px 0px;" class=" button button-positive button-small button-block button-clear button-view-map">ver no mapa</button>
        </div>
        <ion-list id="shopsList-list11" class=" shop-information-list">
            <div class="item item-body shop-title" id="shopsList-list-item-container53">
                <a ui-sref="tabsController.shopSingle" id="shopsList-button68" style="font-weight:500;font-size:30px;text-align:left;" class=" button button-positive button-large button-block button-clear icon-right ion-ios-arrow-forward button-title">loja</a>
            </div>
            <div class="item item-body shop-categories" id="shopsList-list-item-container54">
                <p id="shopsList-markdown33" style="color:#000000;" class=" ">categorias:
                    <a href="#">
                        <strong>lorem</strong>
                    </a>,
                    <a href="#">
                        <strong>ipsum</strong>
                    </a>,
                    <a href="#">
                        <strong>dolor</strong>
                    </a>
                </p>
            </div>
            <div class="item item-body shop-segment" id="shopsList-list-item-container55">
                <p id="shopsList-markdown46" style="color:#000000;" class=" ">segmentos:
                    <a href="#">
                        <strong>lorem</strong>
                    </a>,
                    <a href="#">
                        <strong>ipsum</strong>
                    </a>,
                    <a href="#">
                        <strong>dolor</strong>
                    </a>
                </p>
            </div>
            <div class="item item-body shop-actions" id="shopsList-list-item-container57">
                <button id="shopsList-button4" class=" button button-stable button-small button-icon icon-left ion-trash-a button-delete">remover</button>
                <button id="shopsList-button5" class=" button button-stable button-small button-icon icon-left ion-star button-bookmark">adicionar aos favoritos</button>
            </div>
        </ion-list>
        <ion-list id="shopsList-list12" class=" shop-information-list">
            <div class="item item-body shop-title" id="shopsList-list-item-container58">
                <a ui-sref="tabsController.shopSingle" id="shopsList-button69" style="font-weight:500;font-size:30px;text-align:left;" class=" button button-positive button-large button-block button-clear icon-right ion-ios-arrow-forward button-title">loja</a>
            </div>
            <div class="item item-body shop-categories" id="shopsList-list-item-container59">
                <p id="shopsList-markdown75" style="color:#000000;" class=" ">categorias:
                    <a href="#">
                        <strong>lorem</strong>
                    </a>,
                    <a href="#">
                        <strong>ipsum</strong>
                    </a>,
                    <a href="#">
                        <strong>dolor</strong>
                    </a>
                </p>
            </div>
            <div class="item item-body shop-segment" id="shopsList-list-item-container60">
                <p id="shopsList-markdown76" style="color:#000000;" class=" ">segmentos:
                    <a href="#">
                        <strong>lorem</strong>
                    </a>,
                    <a href="#">
                        <strong>ipsum</strong>
                    </a>,
                    <a href="#">
                        <strong>dolor</strong>
                    </a>
                </p>
            </div>
            <div class="item item-body shop-actions" id="shopsList-list-item-container61">
                <button id="shopsList-button70" class=" button button-stable button-small button-icon icon-left ion-trash-a button-delete">remover</button>
                <button id="shopsList-button71" class=" button button-stable button-small button-icon icon-left ion-star button-bookmark">adicionar aos favoritos</button>
            </div>
        </ion-list>
        <ion-list id="shopsList-list13" class=" shop-information-list">
            <div class="item item-body shop-title" id="shopsList-list-item-container62">
                <a ui-sref="tabsController.shopSingle" id="shopsList-button72" style="font-weight:500;font-size:30px;text-align:left;" class=" button button-positive button-large button-block button-clear icon-right ion-ios-arrow-forward button-title">loja</a>
            </div>
            <div class="item item-body shop-categories" id="shopsList-list-item-container63">
                <p id="shopsList-markdown77" style="color:#000000;" class=" ">categorias:
                    <a href="#">
                        <strong>lorem</strong>
                    </a>,
                    <a href="#">
                        <strong>ipsum</strong>
                    </a>,
                    <a href="#">
                        <strong>dolor</strong>
                    </a>
                </p>
            </div>
            <div class="item item-body shop-segment" id="shopsList-list-item-container64">
                <p id="shopsList-markdown78" style="color:#000000;" class=" ">segmentos:
                    <a href="#">
                        <strong>lorem</strong>
                    </a>,
                    <a href="#">
                        <strong>ipsum</strong>
                    </a>,
                    <a href="#">
                        <strong>dolor</strong>
                    </a>
                </p>
            </div>
            <div class="item item-body shop-actions" id="shopsList-list-item-container65">
                <button id="shopsList-button73" class=" button button-stable button-small button-icon icon-left ion-trash-a button-delete">remover</button>
                <button id="shopsList-button74" class=" button button-stable button-small button-icon icon-left ion-star button-bookmark">adicionar aos favoritos</button>
            </div>
        </ion-list>
    </ion-content>
</ion-view>