<ion-view title="" hide-back-button="true" id="shop-list" class="page-shops-list">
    <ion-content padding="false" class="has-header">
        <ion-list class="page-header">
            <a ui-sref="tabsController.routesList" class="button button-clear ion-arrow-left-c button-back"></a>
            <h1 ng-if="!data.userRouteTitle" class="page-title">{{route.title}} <span>{{created|date:"dd/MM/yy"}}</span></h1>
            <h1 ng-if="data.userRouteTitle" class="page-title">{{data.userRouteTitle}} <span>{{created|date:"dd/MM/yy"}}</span></h1>
            <button ng-click="editRoute()" class="button button-clear icon-left ion-edit button-search-list">editar</button>
        </ion-list>
        <div class="button-bar button-bar-custom">
            <button ng-click="selectList()" class="button button-small button-clear button-view-list" ng-class="{active:isList}">ver em lista</button>
            <button ng-click="selectMap()" class="button button-small button-clear button-view-map" ng-class="{active:isMap}">ver no mapa</button>
        </div>
        <ion-list ng-if="isList" ng-repeat="shop in shops" class="shop">
          <a ui-sref="tabsController.shopSingle({shop:shop.id})" class="shop-link">
            <h1 class="item item-body shop-title">{{shop.name}}</h1>
          </a>
          <div class="shop-wrapper">
            <p class="item item-body shop-description">segmentos: <strong>{{shop.terms.area.join(", ")}}</strong></p>
            <div class="item item-body shop-actions">
              <button ng-if="isBookmark(shop)" ng-click="removeBookmark(shop)" class="button button-small button-icon icon-left ion-trash-a button-delete">remover dos favoritos</button>
              <button ng-if="!isBookmark(shop)" ng-click="addBookmark(shop)" class="button button-small button-icon icon-left ion-star button-bookmark">adicionar aos favoritos</button>
            </div>
          </div>
          <a ui-sref="tabsController.shopSingle({shop:shop.id})"><div class="icon ion-ios-arrow-forward"></div></a>
        </ion-list>
        <div map-container dataset="{{dataset}}" target="{{target}}" linkpath="#/tabs/{{tab}}/shopsingle/" id="map-{{mapid}}" ng-show="isMap"></div>
    </ion-content>
    <div class="modal-wrapper" ng-if="editing">
        <ion-list class="new-route-modal">
            <h2 class="item item-body item-icon-right modal-title" ng-if="newRoute">
                você acabou de criar<br>um <span>circuito!</span>
            </h2>
            <h2 class="item item-body item-icon-right modal-title" ng-if="!newRoute">
              edite o nome deste circuito</span>
            </h2>
            <form class="modal-form">
                  <fieldset>
                      <label class="item item-input item-stacked-label">
                          <span class="input-label">digite um nome</span>
                          <input type="text" placeholder="{{route.title}}" ng-model="data.userRouteTitle">
                      </label>
                  </fieldset>
                  <div class="button-group"><span>salvar?</span> <a ng-click="saveRoute()" class="button button-save-route">sim</a> <a class="button button-cancel-route" ng-click="cancelSave()">não</a></div>
            </form>
        </ion-list>
    </div>
</ion-view>
