<ion-view title="" hide-back-button="true" id="shop-list" class="page-shops-list">
    <ion-content padding="true" class="has-header">

        <a ui-sref="tabsController.routes" class="button button-positive button-small button-block button-clear icon-left ion-android-arrow-back button-back">Brás (dia/mês/ano)</a>
        
        <div class="button-bar">
            <button class="button button-positive button-small button-clear button-view-list">ver em lista</button>
            <button class="button button-positive button-small button-clear button-view-map">ver no mapa</button>
        </div>

        <ion-list>
            <div class="shop-information-list" ng-repeat="shop in shops">
                <div class="item item-body shop-title">
                    <h1><a ui-sref="tabsController.shopSingle({shop:shop.id})">{{shop.name}}</a></h1>
                </div>
                
                <div class="item item-body shop-segment">
                    <p>segmentos: <strong>{{shop.terms.area.join(", ")}}</strong>
                    </p>
                </div>
                <div class="item item-body shop-actions">
                    <button class="button button-stable button-small button-icon icon-left ion-trash-a button-delete">remover</button>
                    <button class="button button-stable button-small button-icon icon-left ion-star button-bookmark">adicionar aos favoritos</button>
                </div>
            </div>
        </ion-list>

    </ion-content>
</ion-view>
