<ion-view title="shop single" hide-back-button="true" id="page12" class=" page-shop-single">
    <ion-content padding="true" class="has-header">
        <a ui-sref="tabsController.shopsList" id="shopSingle-button52" style="text-align:left;border-radius:0px 0px 0px 0px;" class=" button button-positive button-small button-block button-clear icon-left ion-android-arrow-back btn-back">Lojas</a>
        <div id="shopSingle-button-bar3" class=" button-bar btn-group-views">
            <button id="shopSingle-button53" style="border-radius:0px 0px 0px 0px;" class=" button button-positive button-small button-block button-clear btn-view-list">ver em lista</button>
            <button id="shopSingle-button54" style="border-radius:0px 0px 0px 0px;" class=" button button-positive button-small button-block button-clear btn-view-map">ver no mapa</button>
        </div>
        <ion-list id="shopSingle-list20" class=" shop-single-content">
            <div class="item item-body shop-single-title" id="shopSingle-list-item-container86">
                <h1 id="shopSingle-heading3" style="color:#000000;" class=" ">Loja de tal</h1>
            </div>
            <div class="item item-body shop-single-information" id="shopSingle-list-item-container87">
                <p id="shopSingle-markdown34" style="color:#000000;" class=" ">
                    <strong>endereço:</strong>Av. Lorem ipsum dolor sit amet, XX</p>
                <p id="shopSingle-markdown91" style="color:#000000;" class=" ">
                    <strong>espaço:</strong>Se estiver dentro de uma galeria de lojas</p>
                <p id="shopSingle-markdown92" style="color:#000000;" class=" ">
                    <strong>telefone:</strong>+XX (XX) XXXX-XXXX</p>
                <p id="shopSingle-markdown96" style="color:#000000;" class=" ">
                    <strong>e-mail:</strong>taldetal@gmail.com</p>
            </div>
            <div class="item item-body shop-single-description" id="shopSingle-list-item-container90">
                <p id="shopSingle-markdown45" style="color:#000000;" class=" ">Descrição do lojista sobre sua loja, lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </ion-list>
    </ion-content>
</ion-view>