<ion-view title="" hide-back-button="true" id="shop-single" class="page-shop-single">
    <ion-content padding="true" class="has-header">
        
        <a ui-sref="tabsController.shopsList" class="button button-positive button-small button-block button-clear icon-left ion-android-arrow-back button-back">Lojas</a>

        <div class="button-bar">
            <button class="button button-positive button-small button-clear button-view-list">ver em lista</button>
            <button class="button button-positive button-small button-clear button-view-map">ver no mapa</button>
        </div>

        <ion-list class="shop-single-content">
            <div class="item item-body shop-single-title">
                <h1>Loja de tal</h1>
            </div>
            <div class="item item-body shop-single-information">
                <p><strong>endereço:</strong> Av. Lorem ipsum dolor sit amet, XX</p>
                <p><strong>espaço:</strong> Se estiver dentro de uma galeria de lojas</p>
                <p><strong>telefone:</strong> +XX (XX) XXXX-XXXX</p>
                <p><strong>e-mail:</strong> taldetal@gmail.com</p>
            </div>
            <div class="item item-body shop-single-description">
                <p>Descrição do lojista sobre sua loja, lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </ion-list>
    </ion-content>
</ion-view>