<ion-view title="Tabs Controller" id="tabs" class="tabs-nav">
    <ion-tabs class="tabs-stable tabs-icon-top header-tabs" id="tabsController-tabs1">
        <ion-tab title="Início" icon="ion-home" href="#/tabs/home" id="tabsController-tab1" class=" tab-home">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Mapa" icon="ion-android-pin" href="#/tabs/map" id="tabsController-tab4" class=" tab-map">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Favoritos" icon="ion-star" href="#/tabs/bookmarks" id="tabsController-tab2" class=" tab-bookmarks">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Circuitos" icon="ion-android-apps" href="#/tabs/routeslist" id="tabsController-tab5" class=" tab-routes">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>