<ion-view title="Circuito" hide-back-button="true" id="page14" class=" page-route-single">
    <ion-content padding="true" class="has-header">
        <a ui-sref="tabsController.lojas" id="circuito-button90" style="text-align:left;border-radius:0px 0px 0px 0px;" class=" button button-positive button-small button-block button-clear icon-left ion-android-arrow-back btn-back">encontrar lojas no circuito</a>
        <ion-list id="circuito-list16" class=" shop-single-content">
            <div class="item item-body route-single-action-bar" id="circuito-list-item-container93">
                <div id="circuito-button-bar4" class=" button-bar btn-group-views">
                    <button id="circuito-button91" style="border-radius:0px 0px 0px 0px;" class=" button button-positive button-small button-clear btn-view-list">histórico</button>
                    <button id="circuito-button92" style="border-radius:0px 0px 0px 0px;" class=" button button-positive button-small button-clear btn-view-map">fotos</button>
                </div>
            </div>
            <div class="item item-body route-single-title" id="circuito-list-item-container96">
                <h1 id="circuito-heading5" style="color:#000000;" class=" ">Brás</h1>
            </div>
            <div class="item item-body route-single-description" id="circuito-list-item-container95">
                <p id="circuito-markdown103" style="color:#000000;" class=" ">Descrição do lojista sobre sua loja, lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </ion-list>
        <ion-list id="circuito-list19" class=" route-filter">
            <div class="item item-body route-filter-title" id="circuito-list-item-container97">
                <h2 id="circuito-heading6" style="color:#000000;" class=" ">escolha os filtros de produto</h2>
            </div>
            <div class="item item-body " id="circuito-list-item-container98">
                <p id="circuito-markdown106" style="margin-top:0px;color:#000000;" class=" ">
                    <strong>primeiro filtro</strong>
                </p>
                <form id="circuito-form3" class="list ">
                    <p id="circuito-markdown107" style="color:#000000;" class=" ">escolha uma categoria</p>
                    <label class="item item-select " id="circuito-select3">
                        <span class="input-label"></span>
                        <select>
                            <option>--/--</option>
                            <option>Opção 1</option>
                            <option>Opção 2</option>
                            <option>Opção 3</option>
                        </select>
                    </label>
                    <button id="circuito-button95" style="text-align:left;" class=" button button-positive button-small button-block button-clear icon-left ion-android-add-circle ">adicione mais categorias</button>
                    <a ui-sref="tabsController.lojas" id="circuito-button96" class=" button button-positive  button-block ">criar lista de lojas</a>
                </form>
            </div>
        </ion-list>
    </ion-content>
</ion-view>