<ion-view title="Circuitos" hide-back-button="true" id="page5" class=" page-routes">
    <ion-content padding="true" class="has-header">
        <ion-list id="circuitos-list6" class=" route-information-list">
            <div class="item item-body route-title" id="circuitos-list-item-container34">
                <a ui-sref="tabsController.circuito" id="circuitos-button62" style="font-weight:500;font-size:30px;text-align:left;" class=" button button-positive button-large button-block button-clear icon-right ion-ios-arrow-forward btn-route-title">Bom Retiro</a>
            </div>
            <div class="item item-body route-description" id="circuitos-list-item-container37">
                <p id="circuitos-markdown60" style="margin-top:0px;color:#000000;" class=" ">
                    <strong>Uma descrição breve e legal  sobre esse circuito</strong>
                </p>
            </div>
            <div class="item item-body route-products" id="circuitos-list-item-container39">
                <p id="circuitos-markdown59" style="color:#000000;" class=" ">tipos de produtos:
                    <a href="">
                        <strong>lorem</strong>
                    </a>,
                    <a href="">
                        <strong>ipsum</strong>
                    </a>,
                    <a href="">
                        <strong>dolor</strong>
                    </a>,
                    <a href="">
                        <strong>sit</strong>
                    </a>,
                    <a href="">
                        <strong>amet</strong>
                    </a>
                </p>
            </div>
        </ion-list>
        <ion-list id="circuitos-list8" class=" route-information-list">
            <div class="item item-body route-title" id="circuitos-list-item-container44">
                <a ui-sref="tabsController.circuito" id="circuitos-button65" style="font-weight:500;font-size:30px;text-align:left;" class=" button button-positive button-large button-block button-clear icon-right ion-ios-arrow-forward btn-route-title">Brás</a>
            </div>
            <div class="item item-body route-description" id="circuitos-list-item-container45">
                <p id="circuitos-markdown65" style="margin-top:0px;color:#000000;" class=" ">
                    <strong>Uma descrição breve e legal  sobre esse circuito</strong>
                </p>
            </div>
            <div class="item item-body route-products" id="circuitos-list-item-container46">
                <p id="circuitos-markdown66" style="color:#000000;" class=" ">tipos de produtos:
                    <a href="">
                        <strong>lorem</strong>
                    </a>,
                    <a href="">
                        <strong>ipsum</strong>
                    </a>,
                    <a href="">
                        <strong>dolor</strong>
                    </a>,
                    <a href="">
                        <strong>sit</strong>
                    </a>,
                    <a href="">
                        <strong>amet</strong>
                    </a>
                </p>
            </div>
        </ion-list>
        <ion-list id="circuitos-list9" class=" route-information-list">
            <div class="item item-body route-title" id="circuitos-list-item-container47">
                <a ui-sref="tabsController.circuito" id="circuitos-button66" style="font-weight:500;font-size:30px;text-align:left;" class=" button button-positive button-large button-block button-clear icon-right ion-ios-arrow-forward btn-route-title">Santa Ifigênia</a>
            </div>
            <div class="item item-body route-description" id="circuitos-list-item-container48">
                <p id="circuitos-markdown67" style="margin-top:0px;color:#000000;" class=" ">
                    <strong>Uma descrição breve e legal  sobre esse circuito</strong>
                </p>
            </div>
            <div class="item item-body route-products" id="circuitos-list-item-container49">
                <p id="circuitos-markdown68" style="color:#000000;" class=" ">tipos de produtos:
                    <a href="">
                        <strong>lorem</strong>
                    </a>,
                    <a href="">
                        <strong>ipsum</strong>
                    </a>,
                    <a href="">
                        <strong>dolor</strong>
                    </a>,
                    <a href="">
                        <strong>sit</strong>
                    </a>,
                    <a href="">
                        <strong>amet</strong>
                    </a>
                </p>
            </div>
        </ion-list>
        <ion-list id="circuitos-list10" class=" route-information-list">
            <div class="item item-body route-title" id="circuitos-list-item-container50">
                <a ui-sref="tabsController.circuito" id="circuitos-button67" style="font-weight:500;font-size:30px;text-align:left;" class=" button button-positive button-large button-block button-clear icon-right ion-ios-arrow-forward btn-route-title">25 de março</a>
            </div>
            <div class="item item-body route-description" id="circuitos-list-item-container51">
                <p id="circuitos-markdown69" style="margin-top:0px;color:#000000;" class=" ">
                    <strong>Uma descrição breve e legal  sobre esse circuito</strong>
                </p>
            </div>
            <div class="item item-body route-products" id="circuitos-list-item-container52">
                <p id="circuitos-markdown70" style="color:#000000;" class=" ">tipos de produtos:
                    <a href="">
                        <strong>lorem</strong>
                    </a>,
                    <a href="">
                        <strong>ipsum</strong>
                    </a>,
                    <a href="">
                        <strong>dolor</strong>
                    </a>,
                    <a href="">
                        <strong>sit</strong>
                    </a>,
                    <a href="">
                        <strong>amet</strong>
                    </a>
                </p>
            </div>
        </ion-list>
    </ion-content>
</ion-view>