<ion-view title="Circuitos" hide-back-button="true" id="page5" class=" page-routes">
    <ion-content padding="true" class="has-header">
        <ion-list id="circuitos-list3" class=" ">
            <div class="item item-body " id="circuitos-list-item-container6">
                <a ui-sref="tabsController.circuitos2" id="circuitos-button12" style="font-weight:500;font-size:32px;text-align:left;border-radius:0px 0px 0px 0px;" class=" button button-positive  button-block button-clear route-title">Bom Retiro</a>
                <p id="circuitos-markdown42" style="color:#000000;" class=" ">
                    <a href="/list-routes">Uma descrição breve e legal  sobre esse circuito</a>
                </p>
                <p id="circuitos-markdown10" style="color:#000000;" class=" ">tipos de produtos:
                    <a href="#">lorem</a>,
                    <a href="#">ipsum</a>,
                    <a href="#">dolor</a>,
                    <a href="">sit</a>,
                    <a href="">amet</a>
                </p>
            </div>
            <div class="item item-body " id="circuitos-list-item-container8">
                <a ui-sref="tabsController.circuitos2" id="circuitos-button14" style="font-weight:500;font-size:32px;text-align:left;border-radius:0px 0px 0px 0px;" class=" button button-positive  button-block button-clear route-title">Brás</a>
                <p id="circuitos-markdown16" style="color:#000000;" class=" ">
                    <a href="/list-routes">Uma descrição breve e legal  sobre esse circuito</a>
                </p>
                <p id="circuitos-markdown11" style="color:#000000;" class=" ">tipos de produtos:
                    <a href="#">lorem</a>,
                    <a href="#">ipsum</a>,
                    <a href="#">dolor</a>,
                    <a href="">sit</a>,
                    <a href="">amet</a>
                </p>
            </div>
            <div class="item item-body " id="circuitos-list-item-container10">
                <a ui-sref="tabsController.circuitos2" id="circuitos-button15" style="font-weight:500;font-size:32px;text-align:left;border-radius:0px 0px 0px 0px;" class=" button button-positive  button-block button-clear route-title">Santa Ifigênia</a>
                <p id="circuitos-markdown17" style="color:#000000;" class=" ">
                    <a href="/list-routes">Uma descrição breve e legal  sobre esse circuito</a>
                </p>
                <p id="circuitos-markdown13" style="color:#000000;" class=" ">tipos de produtos:
                    <a href="#">lorem</a>,
                    <a href="#">ipsum</a>,
                    <a href="#">dolor</a>,
                    <a href="">sit</a>,
                    <a href="">amet</a>
                </p>
            </div>
            <div class="item item-body " id="circuitos-list-item-container11">
                <a ui-sref="tabsController.circuitos2" id="circuitos-button16" style="font-weight:500;font-size:32px;text-align:left;border-radius:0px 0px 0px 0px;" class=" button button-positive  button-block button-clear route-title">25 de março</a>
                <p id="circuitos-markdown18" style="color:#000000;" class=" ">
                    <a href="/list-routes">Uma descrição breve e legal  sobre esse circuito</a>
                </p>
                <p id="circuitos-markdown14" style="color:#000000;" class=" ">tipos de produtos:
                    <a href="#">lorem</a>,
                    <a href="#">ipsum</a>,
                    <a href="#">dolor</a>,
                    <a href="">sit</a>,
                    <a href="">amet</a>
                </p>
            </div>
        </ion-list>
    </ion-content>
</ion-view>