<ion-view title="Circuitos" hide-back-button="true" id="page10" class=" page-routes-list">
    <ion-content padding="true" class="has-header">
        <a ui-sref="tabsController.circuitos" id="circuitos2-button85" style="text-align:left;border-radius:0px 0px 0px 0px;" class=" button button-positive button-small button-block button-clear icon-left ion-android-arrow-back btn-back">Brás (dia/mês/ano)</a>
        <ion-list id="circuitos2-list15" class=" route-information-list">
            <div class="item item-body route-title" id="circuitos2-list-item-container70">
                <a ui-sref="tabsController.lojas" id="circuitos2-button78" style="font-weight:500;font-size:30px;text-align:left;" class=" button button-positive button-large button-block button-clear icon-right ion-ios-arrow-forward btn-route-title">circuito</a>
            </div>
            <div class="item item-body route-description" id="circuitos2-list-item-container71">
                <p id="circuitos2-markdown31" style="color:#000000;" class=" ">categorias:
                    <a href="#">lorem</a>,
                    <a href="#">ipsum</a>,
                    <a href="#">dolor</a>
                </p>
            </div>
            <div class="item item-body route-products" id="circuitos2-list-item-container72">
                <p id="circuitos2-markdown32" style="color:#000000;" class=" ">segmentos:
                    <a href="#">lorem</a>,
                    <a href="#">ipsum</a>,
                    <a href="#">dolor</a>
                </p>
            </div>
            <div class="item item-body route-products" id="circuitos2-list-item-container73">
                <button id="circuitos2-button51" class=" button button-stable button-small button-icon icon-left ion-trash-a ">remover</button>
            </div>
        </ion-list>
        <ion-list id="circuitos2-list17" class=" route-information-list">
            <div class="item item-body route-title" id="circuitos2-list-item-container78">
                <a ui-sref="tabsController.lojas" id="circuitos2-button81" style="font-weight:500;font-size:30px;text-align:left;" class=" button button-positive button-large button-block button-clear icon-right ion-ios-arrow-forward btn-route-title">circuito</a>
            </div>
            <div class="item item-body route-description" id="circuitos2-list-item-container79">
                <p id="circuitos2-markdown86" style="color:#000000;" class=" ">categorias:
                    <a href="#">lorem</a>,
                    <a href="#">ipsum</a>,
                    <a href="#">dolor</a>
                </p>
            </div>
            <div class="item item-body route-products" id="circuitos2-list-item-container80">
                <p id="circuitos2-markdown87" style="color:#000000;" class=" ">segmentos:
                    <a href="#">lorem</a>,
                    <a href="#">ipsum</a>,
                    <a href="#">dolor</a>
                </p>
            </div>
            <div class="item item-body route-products" id="circuitos2-list-item-container81">
                <button id="circuitos2-button82" class=" button button-stable button-small button-icon icon-left ion-trash-a ">remover</button>
            </div>
        </ion-list>
        <ion-list id="circuitos2-list18" class=" route-information-list">
            <div class="item item-body route-title" id="circuitos2-list-item-container82">
                <a ui-sref="tabsController.lojas" id="circuitos2-button83" style="font-weight:500;font-size:30px;text-align:left;" class=" button button-positive button-large button-block button-clear icon-right ion-ios-arrow-forward btn-route-title">circuito</a>
            </div>
            <div class="item item-body route-description" id="circuitos2-list-item-container83">
                <p id="circuitos2-markdown88" style="color:#000000;" class=" ">categorias:
                    <a href="#">lorem</a>,
                    <a href="#">ipsum</a>,
                    <a href="#">dolor</a>
                </p>
            </div>
            <div class="item item-body route-products" id="circuitos2-list-item-container84">
                <p id="circuitos2-markdown89" style="color:#000000;" class=" ">segmentos:
                    <a href="#">lorem</a>,
                    <a href="#">ipsum</a>,
                    <a href="#">dolor</a>
                </p>
            </div>
            <div class="item item-body route-products" id="circuitos2-list-item-container85">
                <button id="circuitos2-button84" class=" button button-stable button-small button-icon icon-left ion-trash-a ">remover</button>
            </div>
        </ion-list>
    </ion-content>
</ion-view>