<ion-view title="Início v2" hide-back-button="true" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <h1 id="inCioV2-heading2" style="color:#000000;text-align:center;" class=" ">chamada/slogan</h1>
        <div>
            <div class="item item-text-wrap">
                clique em uma das opções para explorar os circuitos de compras
            </div>
        </div>
        <div>
            <div class="item">
                <div class="row">
                    <div class="col">
                        <a href="#">
                            <img src="" alt="Brás">
                        </a>
                    </div>
                    <div class="col">
                        <a href="#">
                            <img src="" alt="Bom Retiro">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="#">
                            <img src="" alt="25 de Março">
                        </a>
                    </div>
                    <div class="col">
                        <a href="#">
                            <img src="" alt="Santa Ifigênia">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <p id="inCioV2-markdown4" style="color:#000000;font-size:12px;text-align:center;" class=" ">Quer saber mais sobre o app ou é lojista?
            <a href="/lojista">Clique aqui</a>
        </p>
    </ion-content>
</ion-view>