<ion-view title="Lista de circuitos" hide-back-button="true" id="page10" class=" page-routes-list">
    <ion-content padding="true" class="has-header">
        <ion-list id="listaDeCircuitos-list15" class=" route-information-list">
            <div class="item item-body route-title" id="listaDeCircuitos-list-item-container70">
                <a ui-sref="tabsController.lojas" id="listaDeCircuitos-button78" style="font-weight:500;font-size:30px;text-align:left;" class=" button button-positive button-large button-block button-clear icon-right ion-ios-arrow-forward btn-route-title">circuito</a>
            </div>
            <div class="item item-body route-description" id="listaDeCircuitos-list-item-container71">
                <p id="listaDeCircuitos-markdown31" style="color:#000000;" class=" ">categorias:
                    <a href="#">lorem</a>,
                    <a href="#">ipsum</a>,
                    <a href="#">dolor</a>
                </p>
            </div>
            <div class="item item-body route-products" id="listaDeCircuitos-list-item-container72">
                <p id="listaDeCircuitos-markdown32" style="color:#000000;" class=" ">segmentos:
                    <a href="#">lorem</a>,
                    <a href="#">ipsum</a>,
                    <a href="#">dolor</a>
                </p>
            </div>
            <div class="item item-body route-products" id="listaDeCircuitos-list-item-container73">
                <button id="listaDeCircuitos-button51" class=" button button-stable button-small button-icon icon-left ion-trash-a ">remover</button>
            </div>
        </ion-list>
        <ion-list id="listaDeCircuitos-list17" class=" route-information-list">
            <div class="item item-body route-title" id="listaDeCircuitos-list-item-container78">
                <a ui-sref="tabsController.lojas" id="listaDeCircuitos-button81" style="font-weight:500;font-size:30px;text-align:left;" class=" button button-positive button-large button-block button-clear icon-right ion-ios-arrow-forward btn-route-title">circuito</a>
            </div>
            <div class="item item-body route-description" id="listaDeCircuitos-list-item-container79">
                <p id="listaDeCircuitos-markdown86" style="color:#000000;" class=" ">categorias:
                    <a href="#">lorem</a>,
                    <a href="#">ipsum</a>,
                    <a href="#">dolor</a>
                </p>
            </div>
            <div class="item item-body route-products" id="listaDeCircuitos-list-item-container80">
                <p id="listaDeCircuitos-markdown87" style="color:#000000;" class=" ">segmentos:
                    <a href="#">lorem</a>,
                    <a href="#">ipsum</a>,
                    <a href="#">dolor</a>
                </p>
            </div>
            <div class="item item-body route-products" id="listaDeCircuitos-list-item-container81">
                <button id="listaDeCircuitos-button82" class=" button button-stable button-small button-icon icon-left ion-trash-a ">remover</button>
            </div>
        </ion-list>
        <ion-list id="listaDeCircuitos-list18" class=" route-information-list">
            <div class="item item-body route-title" id="listaDeCircuitos-list-item-container82">
                <a ui-sref="tabsController.lojas" id="listaDeCircuitos-button83" style="font-weight:500;font-size:30px;text-align:left;" class=" button button-positive button-large button-block button-clear icon-right ion-ios-arrow-forward btn-route-title">circuito</a>
            </div>
            <div class="item item-body route-description" id="listaDeCircuitos-list-item-container83">
                <p id="listaDeCircuitos-markdown88" style="color:#000000;" class=" ">categorias:
                    <a href="#">lorem</a>,
                    <a href="#">ipsum</a>,
                    <a href="#">dolor</a>
                </p>
            </div>
            <div class="item item-body route-products" id="listaDeCircuitos-list-item-container84">
                <p id="listaDeCircuitos-markdown89" style="color:#000000;" class=" ">segmentos:
                    <a href="#">lorem</a>,
                    <a href="#">ipsum</a>,
                    <a href="#">dolor</a>
                </p>
            </div>
            <div class="item item-body route-products" id="listaDeCircuitos-list-item-container85">
                <button id="listaDeCircuitos-button84" class=" button button-stable button-small button-icon icon-left ion-trash-a ">remover</button>
            </div>
        </ion-list>
    </ion-content>
</ion-view>