<ion-view title="Lojas" id="page11" class=" page-list-shops">
    <ion-content padding="true" class="has-header">
        <a ui-sref="tabsController.circuitos2" id="lojas-button28" style="text-align:left;border-radius:0px 0px 0px 0px;" class=" button button-positive  button-block button-clear icon-left ion-android-arrow-back btn-back">Brás dia/mês/ano</a>
        <div id="lojas-button-bar1" class=" button-bar ">
            <button id="lojas-button29" style="border-radius:0px 0px 0px 0px;" class=" button button-positive button-small button-block button-clear btn-show-list">ver em lista</button>
            <button id="lojas-button31" style="border-radius:0px 0px 0px 0px;" class=" button button-positive button-small button-block button-clear btn-show-map">ver no mapa</button>
        </div>
        <div class="item item-body " id="lojas-list-item-container17">
            <button id="lojas-button21" style="font-weight:500;font-size:24px;text-align:left;border-radius:0px 0px 0px 0px;" class=" button button-positive  button-block button-clear shop-name">loja</button>
            <p id="lojas-markdown33" style="color:#000000;" class=" ">categorias:
                <a href="#">lorem</a>,
                <a href="#">ipsum</a>,
                <a href="#">dolor</a>
            </p>
            <p id="lojas-markdown46" style="color:#000000;" class=" ">segmentos:
                <a href="#">lorem</a>,
                <a href="#">ipsum</a>,
                <a href="#">dolor</a>
            </p>
            <button id="lojas-button4" style="font-size:12px;" class=" button button-stable  button-icon icon-left ion-trash-a btn-delete">remover</button>
            <button id="lojas-button5" style="font-size:12px;" class=" button button-stable  button-icon icon-left ion-star btn-bookmark">adicionar aos favoritos</button>
        </div>
        <div class="item item-body " id="lojas-list-item-container24">
            <button id="lojas-button22" style="font-weight:500;font-size:24px;text-align:left;border-radius:0px 0px 0px 0px;" class=" button button-positive  button-block button-clear shop-name">loja</button>
            <p id="lojas-markdown47" style="color:#000000;" class=" ">categorias:
                <a href="#">lorem</a>,
                <a href="#">ipsum</a>,
                <a href="#">dolor</a>
            </p>
            <p id="lojas-markdown48" style="color:#000000;" class=" ">segmentos:
                <a href="#">lorem</a>,
                <a href="#">ipsum</a>,
                <a href="#">dolor</a>
            </p>
            <button id="lojas-button23" style="font-size:12px;" class=" button button-stable  button-icon icon-left ion-trash-a btn-delete">remover</button>
            <button id="lojas-button24" style="font-size:12px;" class=" button button-stable  button-icon icon-left ion-star btn-bookmark">adicionar aos favoritos</button>
        </div>
        <div class="item item-body " id="lojas-list-item-container25">
            <button id="lojas-button25" style="font-weight:500;font-size:24px;text-align:left;border-radius:0px 0px 0px 0px;" class=" button button-positive  button-block button-clear shop-name">loja</button>
            <p id="lojas-markdown49" style="color:#000000;" class=" ">categorias:
                <a href="#">lorem</a>,
                <a href="#">ipsum</a>,
                <a href="#">dolor</a>
            </p>
            <p id="lojas-markdown50" style="color:#000000;" class=" ">segmentos:
                <a href="#">lorem</a>,
                <a href="#">ipsum</a>,
                <a href="#">dolor</a>
            </p>
            <button id="lojas-button26" style="font-size:12px;" class=" button button-stable  button-icon icon-left ion-trash-a btn-delete">remover</button>
            <button id="lojas-button27" style="font-size:12px;" class=" button button-stable  button-icon icon-left ion-star btn-bookmark">adicionar aos favoritos</button>
        </div>
    </ion-content>
</ion-view>