<ion-view title="Mapa" hide-back-button="true" id="page3" class=" page-map">
    <ion-content padding="true" class="has-header">
        <a ui-sref="tabsController.lojas" id="mapa-button86" style="text-align:left;border-radius:0px 0px 0px 0px;" class=" button button-positive button-small button-block button-clear icon-left ion-android-arrow-back btn-back">Mapa (mostrando lojas próximas a mim)</a>
        <button id="mapa-button87" class=" button button-stable  icon-left ion-android-add-circle btn-shop-filter">usar filtro de lojas</button>
    </ion-content>
</ion-view>