.page-home {
    background: url(../img/background-maps.svg);
    background-size: contain;

    .padding {
        padding: 10px 20px;
    }

    .home-logo {
        background: url(../img/logo-app.svg) no-repeat center center;
        background-size: contain;
        height: 12vmax;
        margin: 8vmax auto 0; 
        width: 36vmax;
    }
    .home-slogan {
        color: $gray;
        font-size: 2.6vmax;
        text-align: center;
    }
    .home-splash-slogan {
        color: $pink;
        font-size: 2.4vmax;
        font-weight: $bold;
        line-height: 120%;
        margin: 0 auto; 
        max-width: 530px;
        padding: 1vmax 2vmax 0;
        text-align: center;
        span {
            display: block;
            font-size: 2vmax;
            font-weight: normal;
        }
    }
    .home-affiliates {
        bottom: 8vmax;
        left: 50%;
        margin-left: -24vmax;
        position: absolute;
        text-align: center;
        %logo {
            background-repeat: no-repeat;
            background-size: contain;
            float: left;
            height: 8vmax;
            width: 24vmax;
        }
        .logo-adesampa {
            background-image: url(../img/logo-adesampa.svg);
            background-position: center left;
            border-right: 2px solid red;
            @extend %logo;

        }
        .logo-prefeitura {
            background-image: url(../img/logo-prefeitura.svg);
            background-position: center right;
            @extend %logo;
        }
    }
    .shopkeeper {
        color: $gray;
        font-size: 2vmax;
        bottom: 10px;
        left: 10px;
        right: 10px;
        position: absolute;
        text-align: center;
        a {
            color: $gray;
            font-weight: $bold;
        }
    }
}