//** Routes

// Global styles
.route, .route-single-content {
    .list {  
        .item {
            background-color: transparent;
            border: 0;
            color: #fff;
            margin-top: 0;
            overflow: hidden;
            padding: 0;
            @extend %container;
        }
    }
}
.route {
    .list {
        border-bottom: 1px solid #fff;    
        .ion-ios-arrow-forward {
            color: #fff;
            font-size: 10vmax;
            margin-top: -5vmax;
            position: absolute;
            right: 5%;
            top: 50%;
        }
    }
}
.route-title {
    font-size: 5vmax;
    font-weight: $bold;
    line-height: 130%;
}
.route-subtitle {
    font-size: 2.2vmax;
    font-weight: $bold;
    line-height: 130%;
}
.route-description {
    font-size: 1.8vmax;
    font-weight: $normal;
    line-height: 140%;
    margin-top: 3%;
}

// Styles per route
.bom-retiro {
    .list {
        background-color: $bom-retiro;
    }
}
.bras {
    .list {
        background-color: $bras;
    }        
}
.santa-ifigenia {
    .list {
        background-color: $santa-ifigenia;
    }        
}
.vinte-e-cinco {
    .list {
        background-color: $vinte-e-cinco;
    }        
}

//** Routes
.page-routes {
    .route-link {
        @extend %wrapper-link;
        padding: 4% 14% 4% 8%;
    }
}

//** Routes List

.page-routes-list {
    .list {
        background-color: $gray;
    }
    .route-title {
        span {
            font-size: 3vmax;
            font-weight: $semi-bold;
        }
    }
    .route-link {
        @extend %container;
        @extend %wrapper-link;
        padding: 4% 14% 0% 8%;
    }
    .route-wrapper {
        @extend %container;
        @extend %wrapper-link;
        padding: 2% 14% 4% 8%;
    }
}

//** Route Single

.page-route-single {
    .route-single-content {
        background-color: $gray;
        display: block;
        .route-information {
            padding: 4%;
            .button-bar {
                margin-bottom: 6%;
                .button {
                    border-bottom-color: #fff;
                    color: #fff;
                }
            }
            .route-description {
                font-size: 2.3vmax;
            }
        }
    }
    .filter {
        .filter-content {
            background: $gray;
            fieldset {
                @extend %container;
            }
            legend {
                color: #fff;
            }
        }
        .filter-label {
            color: #fff;
        }
        .button-add-categories {
            color: #fff;
        }
        .button-use-filter {
            background-color: $pink;
            color: #fff;
        }
    }  
}
