//** Routes

// Global styles

.route, .route-single-content {
    .list {  
        .item {
            background-color: transparent;
            border: 0;
            color: $gray;
            margin-top: 0;
            overflow: hidden;
            padding: 0;
            @extend %container;
        }
    }
}
.route {
    .list {
        border-bottom: 1px solid $gray;    
        .ion-ios-arrow-forward {
            color: $gray;
            font-size: 10vmax;
            margin-top: -5vmax;
            position: absolute;
            right: 5%;
            top: 50%;
        }
    }
}
.route-title {
    color: $gray;
    font-size: 5.1vmax;
    font-weight: $bold;
    line-height: 130%;
}
.route-subtitle {
    color: $gray;
    font-size: 2.5vmax;
    font-weight: $bold;
    line-height: 130%;
}
.route-description, .route-products {
    color: $gray;
    font-size: 2.2vmax;
    font-weight: $normal;
    line-height: 140%;
    margin-top: 1vmax !important;
}

//** Routes

.page-routes {
    .route-link {
        @extend %wrapper-link;
        padding: 4% 14% 4% 23%;
    }
}

// Styles per route
.bom-retiro {
    .list {
        .route-title,
        .route-subtitle,
        .route-description,
        .route-products,
        .ion-ios-arrow-forward {
            color: $bom-retiro;
        }
    }
    .route-link {
        background: url(../img/icon-bom-retiro.svg) no-repeat;
        background-position: 3% 14%;
        background-size: 18%;
    }
}
.bras {
    .list {
        .route-title,
        .route-subtitle,
        .route-description,
        .route-products,
        .ion-ios-arrow-forward {
            color: $bras;
        }
        .route-link {
            background: url(../img/icon-bras.svg) no-repeat;
            background-position: 3% 14%;
            background-size: 18%;
        }
    }        
}
.mercado-municipal {
    .list {
        .route-title,
        .route-subtitle,
        .route-description,
        .route-products,
        .ion-ios-arrow-forward {
            color: $mercado-municipal;
        }
        .route-link {
            background: url(../img/icon-mercado-municipal.svg) no-repeat;
            background-position: 3% 14%;
            background-size: 18%;
        }
    }
}
.santa-ifigenia {
    .list {
        .route-title,
        .route-subtitle,
        .route-description,
        .route-products,
        .ion-ios-arrow-forward {
            color: $santa-ifigenia;
        }
        .route-link {
            background: url(../img/icon-santa-ifigenia.svg) no-repeat;
            background-position: 3% 14%;
            background-size: 18%;
        }
    }        
}
.vinte-e-cinco {
    .list {
        .route-title,
        .route-subtitle,
        .route-description,
        .route-products,
        .ion-ios-arrow-forward {
            color: $vinte-e-cinco;
        }
        .route-link {
            background: url(../img/icon-vinte-e-cinco.svg) no-repeat;
            background-position: 3% 14%;
            background-size: 18%;
        }
    }        
}
.feira-da-madrugada {
    .list {
        .route-title,
        .route-subtitle,
        .route-description,
        .route-products,
        .ion-ios-arrow-forward {
            color: $feira-da-madrugada;
        }
        .route-link {
            background: url(../img/icon-feira-da-madrugada.svg) no-repeat;
            background-position: 3% 14%;
            background-size: 18%;
        }
    }
}


//** Routes List

.page-routes-list {
    .list {
        background-color: $gray;
        border-bottom: 1px solid #fff;
        .item, .ion-ios-arrow-forward {
            color: #fff;
        }
    }
    .route-title {
        span {
            font-size: 3vmax;
            font-weight: $semi-bold;
        }
    }
    .route-link {
        @extend %container;
        @extend %wrapper-link;
        padding: 4% 14% 0% 8%;
    }
    .route-wrapper {
        @extend %container;
        @extend %wrapper-link;
        padding: 0% 14% 4% 8%;
    }
}

//** Route Single

.page-route-single {
    .route-single-content {
        background-color: $gray;
        display: block;
        .route-title {
            background-position: center left;
            background-repeat: no-repeat;
            background-size: contain;
            color: #fff;
            line-height: 100%;
            margin-bottom: 3%;
        }
        .route-information {
            padding: 4%;
            .button-bar {
                margin-bottom: 6%;
                .button {
                    border-bottom-color: #fff;
                    color: #fff;
                }
            }
            .route-description {
                color: #fff;
                font-size: 2.3vmax;
            }
        }
    }
    .filter {
        .filter-title {
            border-bottom: 1px solid $gray;
        }
        .filter-content {
            fieldset {
                @extend %container;
            }
            legend {
                color: #000;
            }
        }
        .filter-label {
            color: #000;
        }
        .button-add-categories {
            color: #000;
        }
        .button-use-filter {
            background-color: $gray-dark;
            color: #fff;
        }
    }

    // page bras
    &.page-bras {
        .route-single-content {
            background-color: $bras;
        }
    }
    // page bras
    &.page-mercado-municipal {
        .route-single-content {
            background-color: $mercado-municipal;
        }
    }
    &.page-bom-retiro {
        .route-single-content {
            background-color: $bom-retiro;
        }
    }
    &.page-santa-ifigenia {
        .route-single-content {
            background-color: $santa-ifigenia;
        }
    }
    &.page-vinte-e-cinco {
        .route-single-content {
            background-color: $vinte-e-cinco;
        }
    }
    &.page-feira-da-madrugada {
        .route-single-content {
            background-color: $feira-da-madrugada;
        }
    }

}

// no route message

.no-route {
    .background {
        background: url(../img/background-maps.svg);
        background-size: contain;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.35;
    }

    .message {
        padding: 8% 4%;
        h1 {
            color: $pink;
            font-size: 3.8vmax;
            font-weight: $extra-bold;
            line-height: 150%;
            text-align: center;
        }
        h2 {
            color: $gray-dark;
            font-size: 2.2vmax;
            font-weight: $extra-bold;
            margin-top: 12%;
        }
        ol {
            margin-bottom: 12%;
            padding-left: 30px;
            li {
                font-size: 2.2vmax;
                line-height: 170%;
                list-style: decimal;
                margin-bottom: 2%;
            }
            span {
                color: $blue;
                font-size: 2.3vmax;
                font-weight: $bold;
                i {
                    &:before {
                        font-size: 2.5vmax;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}
