.tabs {
    background-color: $gray-light !important;
    .tab-item {  
        .icon {
            color: $gray-dark !important;
            font-size: 24px;
            height: 24px;
            margin-top: 5px;
        }
        .tab-title {
            color: $gray-dark !important;
            font-weight: $extra-bold;
        }
    }
    .tab-item-active {
        .icon {
            color: $blue !important;
        }
        .tab-title {
            color: $blue !important;
        }
    }
}

// remove border-bottom when it's on a android device
.tabs-top.tabs-striped {
    .tab-item.tab-item-active {
        border-width: 0 !important;
        margin-top: 5px !important;
    }
}