%button-small-modal { // used in modals
    color: #fff;
    font-size: 2.5vmax !important;
    line-height: 150%;
    margin: 0 0 4% 4% !important; 
    min-height: initial;
}

.button {
    line-height: 270%;
}

.button-bar {
    border-radius: 0 !important;
    .button {
        border-radius: 0 !important;
        i {
            margin-right: 1vmax;
        }
    }
}

.button-bar-base {
    .button {
    }
}

.button-bar-custom {
    .button {
        border-bottom: 4px solid #949494;
        color: #949494;
        font-size: 2.1vmax;
        font-weight: $extra-bold;
        max-height: initial !important;
        &.active {
            border-bottom-color: #000;
            color: #000;
            opacity: 1;
        }
    }
    &.button-bar-inline {
        .button {
            display: inline-block;
            -webkit-box-flex: initial;
            -webkit-flex: initial;
            -moz-box-flex: initial;
            -moz-flex: initial;
            -ms-flex: initial;
            flex: initial;
            border-bottom: 3px solid transparent;
            color: #fff;
            font-size: 2vmax;
            font-weight: $bold;
            height: initial;
            line-height: 150%;
            margin-right: 5vmax;
            min-height: initial;
            padding: 0;
            width: initial;
        }
    }
}

.button-splash { // used on home and on the route's list page when there's no created route
    background: $pink;
    color: #fff;
    font-size: 3vmax;
    font-weight: $bold;
    margin: 8vmax auto 0;
    max-width: 530px;
}