.filter {
    .item {
        background-color: transparent;
        border: 0;
        margin-top: 0;
        overflow: hidden;
        padding: 0;
        @extend %container;
    }
    .filter-title {
        background: transparent;
        border: 0;
        font-size: 2.6vmax;
        font-weight: $semi-bold;
        line-height: 100%;
        padding: 4%;
    }
    .filter-form {
        fieldset {
            border: 0;
        }
        legend {
            border: 0;
            font-size: 2.2vmax;
            font-weight: $extra-bold;
        }
        label {
            background-color: #fff;
        }
        .filter-label {
            font-size: 2.2vmax;
            margin-bottom: 2%;
        }
        .input-label {
            padding: 2%;
        }
        .button-add-categories {
            font-size: 2vmax;
            line-height: 220%;
            margin: 0;
            padding: 0;
            text-align: left;
            &:before {
                font-size: 3vmax;
                margin-right: 0.5vmax;
            }
        }
        .button-use-filter {
            font-size: 3vmax;
            font-weight: $semi-bold;
            margin: 4%;
        }
    }
}

.modal-wrapper {
    background-color: rgba(0,0,0,0.7);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100000; 
}

.filter-modal {
    background-color: $gray-light;
    border-radius: 2vmax;
    display: block;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
    position: fixed;
    top: 50%;
    width: 300px;
    z-index: 900;
    .icon-accessory {
        color: $gray;
    }
    .filter-form {
        .button-add-categories {
            color: $gray;
            margin-bottom: 0;
        }
        .button-use-filter {
            background-color: $green;
            color: #fff;
            line-height: 150%;
            margin: 0 0 4% 4%; 
            min-height: initial;
        }
    }
}