.filter {
    .item {
        background-color: transparent;
        border: 0;
        margin-top: 0;
        overflow: hidden;
        padding: 0;
        @extend %container;
    }
    .filter-title {
        font-size: 2.6vmax;
        font-weight: $semi-bold;
        line-height: 100%;
        padding: 4%;
    }
    .filter-form {
        fieldset {
            border: 0;
            padding: 4%;
        }
        legend {
            border: 0;
            font-size: 2.2vmax;
            font-weight: $extra-bold;
            line-height: 100%;
            margin-bottom: 4%;
        }
        label {
            background-color: #fff;
        }
        .filter-label {
            font-size: 2.2vmax;
            margin-bottom: 2%;
        }
        .input-label {
            padding: 2%;
        }
        .button-add-categories {
            font-size: 2vmax;
            line-height: 220%;
            margin: 0;
            padding: 0;
            text-align: left;
            &:before {
                font-size: 3vmax;
                line-height: 100%;
                margin-top: 0;
                padding: 0.5vmax 1vmax 0 0;
            }
        }
        .button-use-filter {
            font-size: 3vmax;
            font-weight: $semi-bold;
            margin: 4%;
        }
    }
}