.page-header {
    .list {
        background: $gray-lighter;
    }
    .button-back {
        color: $gray-dark;
        display: inline-block;
        height: initial;
        min-height: 7vmax;
        min-width: 5vmax;
        padding: 1.5vmax 0;
        &:before {
            box-sizing: border-box;
            font-size: 4.5vmax;
            line-height: 100%;
        }
    }
    .page-title {
        box-sizing: border-box;
        color: $gray-dark;
        display: inline-block;
        font-size: 2.6vmax;
        font-weight: $bold;
        line-height: 190%;
        margin: 0; 
        min-height: 7vmax;
        padding: 1.5vmax 0;
        span {
            display: inline-block;
            font-size: 2.2vmax;
            font-weight: $normal;
            margin-left: 0.5vmax;
        }
    }
}