// Colors variables

$gray-dark:         #4a4a4a;
$gray:              #9b9b9b;
$gray-light:        #e1e1e1;
$gray-lighter:      #f0f0f0;

$blue:              #355ea5;
$green:             #69b852;
$pink:              #f55a9e;
$purple:            #9a3d70;
$red:               #d23b37;
$yellow:            #eda53a;
$blue-light:        #00beec;

$bras:              $blue;
$bom-retiro:        $red;
$santa-ifigenia:    $purple;
$vinte-e-cinco:     $yellow;
$feira-da-madrugada:$green;
$mercado-municipal: $blue-light;

// Typography variables

$lighter:           300;
$normal:            400;
$semi-bold:         600;
$bold:              700;
$extra-bold:        800;

// Override Ionic font variables
$font-family-sans-serif:          "Open Sans", '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !default;

$font-family-light-sans-serif:    "Open Sans", '-apple-system', "HelveticaNeue-Light", "Roboto-Light", "Segoe UI-Light", sans-serif-light !default;

$font-family-serif:               "Open Sans", '-apple-system', "HelveticaNeue-Light", "Roboto-Light", "Segoe UI-Light", sans-serif-light !default;
